:root {
  --clr1: rgb(96, 107, 91);
  --clr2: rgb(120, 99, 110);

  --clr1bg: #99a695;
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: rgb(233, 206, 221);
  --clr2bg-light: rgb(253, 236, 246);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

} 